.Register {
  background-color: #00000099;
  padding: 2rem 0;
}
.Register_inner {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
}

/* button styles */
.button {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #16b8f3;
  color: white;
  border-radius: 5px;
  transition: 0.3s background-color ease-out;
}

.button:hover {
  background-color: #12a8df;
}

button.button {
  border: 0;
  cursor: pointer;
  font-family: Karla;
  padding: 0.8rem 0;
}

/* form styles */
form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  border: 1px solid #999999;
}

form button {
  width: 100%;
}

/* responsive styles */
/* md */
@media screen and (max-width: 768px) {
  form {
    max-width: 80%;
  }
}

/* lg */
@media screen and (min-width: 769px) and (max-width: 1170px) {
  form {
    max-width: 75%;
  }
}

/* xl */
@media screen and (min-width: 1171px) {
  form {
    max-width: 55%;
  }
}
